.newsletter {
  font-family: $font;
  margin-top: 200px;
  position: relative;
  img:last-child {
    position: absolute;
    right: 114px;
    bottom: 28px;
  }
  img:first-child {
    position: absolute;
    left: 0;
    bottom: -50px;
  }
  .box {
    text-align: center;
    max-width: 470px;
    margin: 0 auto;
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }
    .btn {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 10px;
      margin-top: 38px;
      .button {
        background: #145ff0;
        padding: 15px 34px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        border: none;
        color: #fff;
        border-radius: 6px;
        border: 1px solid #b6bbc7;
      }
      .text {
        padding: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        border-radius: 6px;
        min-width: 270px;
      }
    }
  }
}
